<div>
  <ngx-datatable
    class="material"
    [rows]="rows"
    [columns]="columns"
    [columnMode]="ColumnMode.force"
    [headerHeight]="50"
    [footerHeight]="50"
    rowHeight="auto"
  >
  </ngx-datatable>
  <ng-template #hdrTpl let-column="column">{{ column.name }} </ng-template>

   <ng-template #editTmpl let-row="row" let-column="column" let-value="value">
    {{ column.name }}
    <img [src]="value" *ngIf="column.name == 'image'" />
    <ng-container *ngIf="column.name !== 'image'">
      {{ value }}
    </ng-container>
  </ng-template>
</div>
